<!-- add -->
<!-- add Picture-->
<!-- update -->
<!-- delete -->
<%- include('./shared/header')%>

    <title>Document</title>
    </head>

    <body>
        <section class="main p-5">
            <div class="my-3">
                <div class="row justify-content-center align-items-center">
                    <% for( let i=0; i < notes.length; i++ ) { %>
                        <div class="col-md-4">
                            <div class="p-3">
                                <div class="card" style="width: 18rem;">
                                    <img src="<%=notes[i].picture%>" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">

                                            <%=notes[i].body%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </section>
        <%- include('./shared/footer')%>